.about-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
}

.about-container {
    background-color: black;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.about-paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: oblique;
    font-size: x-large;
    color: darkgray;
}

.image {
    width: 30%;
    height: 30%;
    background-color: antiquewhite;
}

.btn-container {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}