.about-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: crimson;
}

.about-container {
    background-color: black;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.about-paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: oblique;
    color: darkgray;
}

.image {
    width: 30%;
    height: 30%;
    background-color: antiquewhite;
}